In [1]:
import pandas as pd
import warnings

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
warnings.filterwarnings(action='ignore')

In [59]:
df=pd.read_csv('soccerDB4.csv')

In [60]:
df=df.drop('Unnamed: 0',axis=1)

In [62]:
df['datetime']=pd.to_datetime(df['datetime'],format='%Y%m%d')

In [7]:
df_2013=df[(df.datetime.dt.year > 2012) & (df.datetime.dt.year < 2014)]

In [17]:
df_2014=df[(df.datetime.dt.year > 2013) & (df.datetime.dt.year < 2015)]

In [27]:
df_2015=df[(df.datetime.dt.year > 2014) & (df.datetime.dt.year < 2016)]

In [28]:
df_2016=df[(df.datetime.dt.year > 2015) & (df.datetime.dt.year < 2017)]

In [65]:
df_2017=df[(df.datetime.dt.year > 2016) & (df.datetime.dt.year < 2018)]

In [67]:
df_2017=df_2017.reset_index()

In [68]:
df_2017=df_2017.drop(columns='index',axis=0)

In [69]:
df_2017=df_2017.rename(columns={'h_Chutes a gol':'h_chutes_a_gol','a_Chutes a gol':'a_chutes_a_gol'})

In [70]:
df_2017['ht_eff_of']=1
df_2017['ht_eff_of']=df_2017['ht_eff_of'].astype(float)

In [71]:
df_2017['at_eff_of']=1
df_2017['at_eff_of']=df_2017['at_eff_of'].astype(float)

In [72]:
contador=0
for n in range(380):
    time=df_2017['home_team'][contador]
    grupo=df_2017.groupby(df_2017['home_team']==time).sum()
    conta=grupo.home_team_score[True] /grupo.h_chutes_a_gol[True]
    df_2017['ht_eff_of'][contador]=conta
    contador+=1

In [73]:
contador=0
for n in range(371):
    time=df_2017['away_team'][contador]
    grupo=df_2017.groupby(df_2017['away_team']==time).sum()
    conta=grupo.away_team_score[True] /grupo.a_chutes_a_gol[True]
    df_2017['at_eff_of'][contador]=conta
    contador+=1

In [46]:
df_2017

,a_Ataques,a_Ataques perigosos,a_Cartões amarelos,a_Cartões vermelhos,a_chutes_a_gol,a_Chutes ao ferro,a_Chutes bloqueados,a_Chutes fora,a_Escanteios,a_Faltas,a_Gols,a_Impedimentos,a_Laterais,a_Pênaltis,a_Segundo cartão amarelo,a_Substituições,a_Tiros de meta,a_Tiros-livres,at_current_classification,at_current_draws_away,at_current_draws_global,at_current_draws_home,at_current_loss_away,at_current_loss_global,at_current_loss_home,at_current_wins_away,at_current_wins_global,at_current_wins_home,at_games_without_draw_away,at_games_without_draw_global,at_games_without_draw_home,at_games_without_lose_away,at_games_without_lose_global,at_games_without_lose_home,at_games_without_win_away,at_games_without_win_global,at_games_without_win_home,away_team,away_team_score,city,datetime,h_Ataques,h_Ataques perigosos,h_Cartões amarelos,h_Cartões vermelhos,h_chutes_a_gol,h_Chutes ao ferro,h_Chutes bloqueados,h_Chutes fora,h_Escanteios,h_Faltas,h_Gols,h_Impedimentos,h_Laterais,possession,h_Pênaltis,h_Segundo cartão amarelo,h_Substituições,h_Tiros de meta,h_Tiros-livres,home_team,home_team_score,ht_current_classification,ht_current_draws_away,ht_current_draws_global,ht_current_draws_home,ht_current_loss_away,ht_current_loss_global,ht_current_loss_home,ht_current_wins_away,ht_current_wins_global,ht_current_wins_home,ht_games_without_draw_away,ht_games_without_draw_global,ht_games_without_draw_home,ht_games_without_lose_away,ht_games_without_lose_global,ht_games_without_lose_home,ht_games_without_win_away,ht_games_without_win_global,ht_games_without_win_home,referee,round,stadium,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,sub_home_player_1,sub_home_player_2,sub_home_player_3,sub_home_player_4,sub_home_player_5,sub_home_player_6,sub_home_player_7,sub_home_player_8,sub_home_player_9,sub_home_player_10,sub_home_player_11,sub_home_player_12,sub_away_player_1,sub_away_player_2,sub_away_player_3,sub_away_player_4,sub_away_player_5,sub_away_player_6,sub_away_player_7,sub_away_player_8,sub_away_player_9,sub_away_player_10,sub_away_player_11,sub_away_player_12,result,int_date,ht_eff_of,at_eff_of
0,50.0,26.0,1.0,1.0,1.0,NaN,NaN,0.0,4.0,16.0,0.0,2.0,25.0,NaN,NaN,NaN,6.0,20.0,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Sport,0,"Volta Redonda, Rio de Janeiro",2016-05-14,79.0,46.0,2.0,0.0,4.0,NaN,NaN,6.0,4.0,18.0,1.0,2.0,18.0,56.0,NaN,NaN,NaN,1.0,18.0,Flamengo,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Marcelo Aparecido Ribeiro De Souza,1,Estádio General Sílvio Raulino de Oliveira,"('person-64355', 'Paulo Victor')","('person-436474', 'Leo Duarte')","('person-192705', 'Rodinei')","('person-132', 'Juan')","('person-334012', 'Jorge')","('person-69072', 'F. Mancuello')","('person-9333', 'Éverton')","('person-84154', 'G. Cuéllar')","('person-230411', 'Willian Arão')","('person-2009', 'P. Guerrero')","('person-26660', 'Emerson Sheik')","('person-9431', 'Magrão')","('person-22275', 'O. Henríquez')","('person-112519', 'Samuel Xavier')","('person-9435', 'Durval')","('person-225802', 'Rene')","('person-307939', 'Gabriel Xavier')","('person-9202', 'Diego Souza')","('person-2973', 'M. González')","('person-104850', 'Rithely')","('person-283703', 'Vinícius Araújo')","('person-289979', 'R. Lenis')","('person-112708', 'Alex Muralha')","('person-32800', 'Pará')","('person-416556', 'Rafael Dumas')","('person-74347', 'Chiquinho')","('person-95415', 'Alan Patrick')","('person-1270', 'Ederson')","('person-32286', 'Marcio Araujo')","('person-32654', 'Fernandinho')","('person-81529', 'Marcelo Cirino')","('person-434545', 'Felipe Vizeu')","('person-170927', 'Gabriel')",None,"('person-32810', 'Luiz Carlos')","('person-397200', 'Evandro')","('person-74217', 'Matheus Ferraz')","('person-32923', 'Rodrigo Mancha')","('person-313877', 'Ronaldo')","('person-331265', 'Neto')","('person-193049', 'Luiz Antonio')","('person-8926', 'Serginho')","('person-4968', 'Túlio de Melo')",None,None,None,win,0,0.500000,0.306122
1,40.0,22.0,4.0,NaN,1.0,NaN,0.0,2.0,1.0,17.0,0.0,0.0,20.0,NaN,1.0,NaN,8.0,16.0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Atlético PR,0,"São Paulo, São Paulo",2016-05-14,49.0,32.0,1.0,NaN,3.0,NaN,1.0,4.0,8.0,13.0,4.0,3.0,20.0,61.0,NaN,0.0,NaN,4.0,17.0,Palmeiras,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Bruno Arleu de Araujo,1,Allianz Parque,"('person-16938', 'Fernando Prass')","('person-288912', 'Thiago Martins')","('person-112507', 'Vitor Hugo')","('person-9319', 'Egídio')","('person-183186', 'Tchê Tchê')","('person-9114', 'Cleiton Xavier')","('person-373415', 'Matheus Sales')","('person-32368', 'Jean')","('person-17194', 'L. Barrios')","('person-391151', 'Roger Guedes')","('person-364017', 'Gabriel Jesus')","('person-32538', 'Weverton')","('person-8974', 'Thiago Heleno')","('person-131042', 'Léo')","('person-4481', 'Paulo André')","('person-282923', 'Sidcley')","('person-328063', 'Otavio')","('person-158904', 'Nikão')","('person-187565', 'Jádson')","('person-64417', 'Walter')","('person-288088', 'Ewandro')",None,"('person-71953', 'Vagner')","('person-371205', 'João Pedro')","('person-184542', 'Fabiano')","('person-228965', 'Thiago Santos')","('person-173974', 'Gabriel')","('person-73005', 'Moisés')","('person-9360', 'Zé Roberto')","('person-9137', 'Arouca')","('person-32399', 'Luan')","('person-4987', 'Rafael Marques')","('person-64341', 'Alecsandro')","('person-291015', 'Erik')","('person-115496', 'Santos')","('person-242516', 'Cleberson')","('person-21950', 'C. Vilches')","('person-9462', 'Eduardo')","('person-191260', 'F. Barrientos')","('person-180889', 'Hernani')","('person-282430', 'Marcos Guilherme')","('person-130585', 'Pablo Felipe')","('person-8955', 'André Lima')",None,None,None,win,0,0.353535,0.343750
2,73.0,47.0,2.0,NaN,4.0,NaN,2.0,5.0,2.0,11.0,0.0,5.0,37.0,NaN,NaN,NaN,9.0,22.0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Santos,0,"Belo Horizonte, Minas Gerais",2016-05-14,69.0,43.0,2.0,NaN,5.0,NaN,4.0,8.0,4.0,18.0,1.0,4.0,22.0,46.0,NaN,NaN,NaN,10.0,16.0,Atlético MG,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Eduardo Goncalves da Cruz,1,Estádio Raimundo Sampaio,"('person-180817', 'Uilson')","('person-9378', 'Edcarlos')","('person-330130', 'Gabriel')","('person-32573', 'Carlos César')","('person-196743', 'Tiago Pagnussat')","('person-280970', 'Lucas Cândido')","('person-9207', 'Carlos Eduardo')","('person-226423', 'Eduardo')","('person-169690', 'J. Cazares')","('person-196443', 'Hyuri')",None,"('person-32900', 'Vanderlei')","('person-218816', 'Gustavo Henrique')","('person-72164', 'Victor Ferraz')","('person-9278', 'David Braz')","('person-332808', 'Zé Carlos')","('person-3121', 'Renato')","('person-290444', 'Thiago Maia')","('person-249093', 'Ronaldo Mendes')","('person-328277', 'Vitor')","('person-169159', 'Paulinho')","('person-297700', 'Gabriel')","('person-66275', 'Giovanni')","('person-9781', 'Lauro')","('person-308995', 'Leo')","('person-445266', 'F. Rodrigues')","('person-303828', 'Yago')","('person-439591', 'Luiz Guilherme')","('person-165652', 'Pablo')",None,None,None,None,None,"('person-104535', 'Vladimir')","('person-374853', 'Caju')","('person-233318', 'Luiz Felipe')","('person-5911', 'Elano')","('person-332878', 'Serginho')","('person-174522', 'Rafael Longuine')","('person-191903', 'Alison')","('person-16062', 'E. Valencia')","('person-430034', 'Fernando')","('person-345585', 'Lucas Crispim')","('person-410819', 'Matheus')","('person-314242', 'M. Rolón')",win,0,0.600000,0.500000
3,72.0,35.0,3.0,1.0,1.0,NaN,0.0,3.0,0.0,22.0,0.0,4.0,22.0,NaN,1.0,NaN,7.0,20.0,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Cruzeiro,0,"Curitiba, Paraná",2016-05-14,73.0,43.0,1.0,0.0,2.0,NaN,2.0,4.0,5.0,19.0,1.0,1.0,23.0,51.0,NaN,0.0,NaN,5.0,26.0,Coritiba,1,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Fabricio Vilarinho,1,Estádio Major Antônio Couto Pereira,"('person-32312', 'Wilson')","('person-8939', 'Rafael Marques')","('person-425511', 'Dodô')","('person-409612', 'Juninho')","('person-82899', 'Carlinhos')","('person-13904', 'C. González')","('person-32918', 'Ruy')","('person-78767', 'João Paulo')","('person-103550', 'Alan Santos')","('person-122231', 'Vinícius')","('person-33088', 'Kléber')","('person-8961', 'Fábio')","('person-64406', 'Léo')","('person-9106', 'Lucas')","('person-32967', 'Bruno Rodrigo')","('person-82434', 'M. Pisano')","('person-167091', 'J. Sánchez Miño')","('person-9112', 'Henrique')","('person-265228', 'L. Romero')","('person-78745', 'Willian')","('person-330112', 'Allano')","('person-207544', 'Elber')","('person-90157', 'Elisson')","('person-23729', 'N. Bareiro')","('person-328071', 'Reginaldo')","('person-192640', 'Walisson')","('person-411912', 'Thiago')","('person-328074', 'Icaro')","('person-435665', 'Raphael Veiga')","('person-177584', 'Leandro')","('person-285008', 'Guilherme Parede')","('person-163621', 'Negueba')","('person-24082', 'J. Ortega')",None,"('person-431776', 'Lucas França')","('person-97650', 'Rafael')","('person-413288', 'Bruno Vianna')","('person-438564', 'Fabricio Bruno')","('person-14311', 'A. Cabral')","('person-296908', 'Bruno Edgar')","('person-247642', 'F. Gino')","('person-396804', 'Marciel')","('person-351995', 'Alex')","('person-276338', 'Bruno Nazário')","('person-236688', 'Douglas Coutinho')",None,win,0,0.453125,0.387755
4,46.0,26.0,5.0,NaN,2.0,NaN,0.0,2.0,4.0,10.0,1.0,3.0,15.0,NaN,NaN,NaN,14.0,10.0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,São Paulo,1,"Volta Redonda, Rio de Janeiro",2016-05-15,75.0,60.0,1.0,NaN,5.0,NaN,2.0,6.0,7.0,7.0,0.0,3.0,25.0,67.0,NaN,NaN,NaN,5.0,13.0,Botafogo,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Braulio da Silva Machado,1,Estádio General Sílvio Raulino de Oliveira,"('person-171229', 'Helton Leite')","('person-32435', 'Emerson')","('person-257112', 'Victor Luis')","('person-32731', 'Luis Ricardo')","('person-89889', 'Renan Fonseca')","('person-395563', 'Fernandes')","('person-94923', 'Bruno Silva')","('person-390551', 'Leandro')","('person-112806', 'Rodrigo Lindoso')","('person-289800', 'Neilton')","('person-433835', 'Ribamar')","('person-97659', 'Renan Ribeiro')","('person-408131', 'L. Vojnović')","('person-330147', 'Matheus Reis')","('person-433250', 'Banguele')","('person-4733', 'D. Lugano')","('person-288073', 'Lucão')","('person-433188', 'Lucas Fernandes')","('person-248168', 'R. Centurión')","('person-171127', 'W. Guisao')","('person-11894', 'Alan Kardec')","('person-290443', 'Auro')","('person-383065', 'Saulo')","('person-328427', 'Emerson')","('person-403840', 'Diego')","('person-433836', 'Marcinho')","('person-398319', 'Dierson')","('person-282257', 'Marquinho')","('person-20715', 'D. Lizio')","('person-13939', 'J. Salgueiro')","('person-71059', 'Anderson Aquino')","('person-232741', 'Sassá')","('person-408264', 'Luis Henrique')","('person-111198', 'Geovane Maranhão')","('person-64987', 'Leo')","('person-433187', 'Lucas Kal')","('person-433197', 'Artur')","('person-167149', 'Thiago Mendes')","('person-433199', 'Felipe Araruna')","('person-282066', 'Luiz Araujo')","('person-433193', 'Pedro Bortoluzo')","('person-159253', 'Kelvin')","('person-136408', 'Rogerio')",None,None,None,lose,0,0.347222,0.258621
5,45.0,18.0,0.0,NaN,1.0,1.0,1.0,3.0,1.0,15.0,1.0,1.0,32.0,0.0,NaN,NaN,2.0,17.0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Vitória,1,"Recife, Pernambuco",2016-05-15,38.0,19.0,3.0,NaN,1.0,0.0,1.0,1.0,6.0,10.0,4.0,6.0,30.0,46.0,1.0,NaN,NaN,7.0,17.0,Santa Cruz,4,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Pablo Dos Santos Alves,1,Estádio Jóse do Rego Maciel,"('person-32614', 'Tiago Cardoso')","('person-226934', 'Neris')","('person-9164', 'Vitor')","('person-32813', 'Danny Morais')","('person-175166', 'Tiago Costa')","('person-207126', 'Wellington')","('person-171307', 'Uillian Correia')","('person-1251', 'Grafite')","('person-148322', 'Arthur')","('person-282209', 'Keno')","('person-113140', 'Fernando Gabriel')","('person-71994', 'Fernando Miguel')","('person-68410', 'Victor Ramos')","('person-284092', 'Ramon')","('person-74810', 'Diego Renan')","('person-328123', 'José Welison')","('person-112827', 'Vander')","('person-8981', 'Leandro Domingues')","('person-121795', 'Tiago Real')","('person-172588', 'Amaral')","('person-316757', 'Marcelo')","('person-71760', 'Kieza')","('person-233983', 'Edson')","('person-112344', 'Alemão')","('person-175382', 'Allan Vieira')","('person-80586', 'Roberto')","('person-9064', 'Leo Moura')","('person-112509', 'Daniel Costa')","('person-416938', 'Marcilio')","('person-32304', 'Wallyson')","('person-110638', 'Bruno Moraes')",None,None,None,"('person-395586', 'Wallace')","('person-163583', 'Norberto Neto')","('person-73209', 'Kanu')","('person-301699', 'Euller')","('person-396909', 'Flavio')","('person-131443', 'William Henrique')","('person-396310', 'David')","('person-313663', 'Alípio')","('person-418187', 'Rafaelson')",None,None,None,win,0,0.409091,0.298246
6,59.0,46.0,5.0,NaN,2.0,1.0,5.0,11.0,9.0,19.0,NaN,1.0,35.0,NaN,NaN,NaN,13.0,8.0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Ponte Preta,0,"Florianópolis, Santa Catarina",2016-05-15,54.0,32.0,2.0,NaN,5.0,0.0,4.0,5.0,6.0,7.0,NaN,1.0,28.0,49.0,NaN,NaN,NaN,17.0,22.0,Figueirense,0,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Emerson De Almeida Ferreira,1,Estádio Orlando Scarpelli,"('person-137957', 'Júnior Oliveira')","('person-210711', 'Bruno Alves')","('person-91261', 'Jaime')","('person-248658', 'Marcos Pedroso')","('person-111653', 'Bady')","('person-79900', 'Ferrugem')","('person-138129', 'Jocinei')","('person-279128', 'Jefferson')","('person-9261', 'Elicarlos')","('person-9150', 'Rafael Moura')","('person-284939', 'Gustavo Ermel')","('person-98909', 'João Carlos')","('person-121698', 'Douglas Grolli')","('person-174478', 'Reinaldo')","('person-288072', 'Jeferson')","('person-10609', 'Kadu')","('person-37513', 'João Vitor')","('person-410124', 'Ravanelli')","('person-442641', 'Matheus Jesus')","('person-71013', 'Felipe Azevedo')","('person-234507', 'Clayson')","('person-32327', 'Wellington Paulista')","('person-32691', 'Thiago Rodrigues')","('person-239470', 'Luan Polli')","('person-24762', 'Marquinhos')","('person-128779', 'Ayrton')","('person-333198', 'Yago')","('person-303918', 'Dodô')","('person-74808', 'M. Ortega')","('person-111808', 'Jackson Caucaia')","('person-435385', 'Guilherme')","('person-121165', 'Guilherme Queiroz')","('person-181781', 'Dudu')",None,"('person-197635', 'César')","('person-80072', 'Tiago Alves')","('person-257111', 'Diogo Mateus')","('person-128883', 'Gilson')","('person-9777', 'Fábio Ferreira')","('person-445456', 'Vinicius')","('person-9171', 'Felipe Menezes')","('person-442640', 'Leozinho')","('person-67280', 'Rhayner')","('person-33077', 'Roger')",None,None,draw,0,0.388889,0.288462
7,48.0,42.0,NaN,NaN,2.0,NaN,1.0,6.0,15.0,9.0,1.0,4.0,30.0,NaN,NaN,NaN,7.0,10.0,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Fluminense,1,"Belo Horizonte, Minas Gerais",2016-05-15,44.0,35.0,NaN,NaN,3.0,NaN,0.0,10.0,8.0,8.0,0.0,2.0,21.0,42.0,NaN,NaN,NaN,12.0,13.0,América MG,0,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Thiago Duarte Peixoto,1,Estádio Raimundo Sampaio,"('person-171506', 'João Ricardo')","('person-139106', 'Sueliton')","('person-433716', 'Danylo')","('person-282794', 'Artur')","('person-32471', 'Alison')","('person-282265', 'Danilo')","('person-258914', 'Osman Junior')","('person-8947', 'Leandro Guerreiro')","('person-79817', 'Claudinei')","('person-25463', 'Tiago Luis')","('person-57552', 'Rafael Bastos')","('person-9276', 'Diego Cavalieri')","('person-42129', 'Gum')","('person-8964', 'Jonathan')","('person-32876', 'Henrique')","('person-73187', 'Wellington Silva')","('person-92712', 'Edson')","('person-343407', 'Gustavo Scarpa')","('person-9138', 'Cícero')","('person-155', 'Fred')","('person-79694', 'Osvaldo')","('person-407737', 'Richarlison')","('person-32931', 'Fernando Leal')","('person-294307', 'Glauco')","('person-111502', 'Ernandes')","('person-9225', 'Helder Maurílio')","('person-433715', 'Roger Duarte')","('person-441315', 'Maktom')","('person-247826', 'Xavier')","('person-433714', 'Christian Savio')","('person-9398', 'Borges')","('person-141507', 'Maranhão')","('person-438128', 'Vitor Ruas')","('person-362437', 'Bruno Savio')","('person-8933', 'Júlio César')","('person-65394', 'Renato Chaves')","('person-299242', 'Marlon')","('person-115289', 'Giovanni')","('person-245431', 'Higor')","('person-363931', 'Gerson')","('person-166524', 'Felipe Amorim')","('person-26446', 'Magno Alves')","('person-239932', 'Marcos Júnior')",None,None,None,lose,0,0.260000,0.306122
8,72.0,42.0,4.0,NaN,2.0,NaN,1.0,3.0,2.0,20.0,NaN,3.0,26.0,NaN,NaN,NaN,15.0,14.0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Grêmio,0,"São Paulo, São Paulo",2016-05-15,80.0,43.0,1.0,NaN,3.0,NaN,2.0,11.0,10.0,12.0,NaN,2.0,31.0,59.0,NaN,NaN,NaN,8.0,23.0,Corinthians,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Alessandro Álvaro Rocha de Matos,1,Arena Corinthians,"('person-136425', 'Walter')","('person-225552', 'F. Balbuena')","('person-17306', 'Fágner')","('person-32574', 'Uendel')","('person-171943', 'Felipe')","('person-136155', 'Bruno Henrique')","('person-73192', 'Marquinhos Gabriel')","('person-78714', 'Rodriguinho')","('person-34971', 'Elias')","('person-192525', 'Á. Romero')","('person-75403', 'André')","('person-9187', 'Marcelo Grohe')","('person-17076', 'Pedro Geromel')","('person-13514', 'Fred')","('person-10265', 'Marcelo Oliveira')","('person-174110', 'Ramiro')","('person-338353', 'Walace')","('person-20638', 'Giuliano')","('person-16465', 'Maicon')","('person-42159', 'M. Bolaños')","('person-4800', 'Bobô')","('person-285035', 'Luan')","('person-12926', 'Vilson')","('person-355909', 'Guilherme Arana')","('person-5638', 'Danilo')","('person-16566', 'Cristian')","('person-433352', 'Maycon')","('person-32605', 'Willians')","('person-95917', 'Giovanni Augusto')","('person-271473', 'Marlone')","('person-8991', 'Guilherme')","('person-234684', 'Luciano')","('person-159586', 'Lucca')",None,"('person-68943', 'Bruno Grassi')","('person-74179', 'Werley')","('person-282477', 'Marcelo Hermes')","('person-417745', 'Kaio')","('person-395629', 'Lincoln')","('person-9416', 'Edinho')","('person-32552', 'Douglas')","('person-418349', 'Léo Tilica')","('person-74784', 'Henrique Almeida')","('person-327852', 'Everton')",None,None,draw,0,0.341772,0.542857

In [47]:
df_2017.to_csv('df_2017.csv')