In [1]:
import pandas as pd
from tqdm import tqdm

In [3]:
df_2013 = pd.read_csv('df_2013.csv')

In [4]:
df_2014 = pd.read_csv('df_2014.csv')

In [5]:
df_2015 = pd.read_csv('df_2015.csv')

In [6]:
df_2016 = pd.read_csv('df_2016.csv')

In [7]:
df_2017 = pd.read_csv('df_2017.csv')

In [8]:
df_2018 = pd.read_csv('df_2018.csv')

In [9]:
frames = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018]

In [10]:
df = pd.concat(frames)

In [11]:
df.shape

(2271, 135)

In [12]:
df2 = pd.read_csv('soccerDB4.csv')

In [13]:
df2.shape

(3411, 133)

In [14]:
teams_list = df.home_team.unique()
prop = 0.1
df['home_score_history'] = 0
teams=[]
for n in tqdm(teams_list):
#     print('\n',n)
    mask = df.home_team == n
    team_index = df[mask].index.values
    cont = 1
    c = 0
    for m in team_index[1:]:
#         print('m:',m)
        last_score = df.iloc[team_index[cont-1]].home_team_score
#         print('last_score:',last_score)
        home_score_history = df.iloc[team_index[cont-1]].home_score_history
#         print('home_score_history:',home_score_history)
        new_hsc = last_score + home_score_history
#         print('new_hsc:',new_hsc)
        df.at[team_index[cont],'home_score_history'] = new_hsc
        cont+=1

100%|██████████| 31/31 [00:01<00:00, 22.80it/s]

In [15]:
teams_list = df.home_team.unique()
prop = 0.1
df['conceded_score_history'] = 0
teams=[]
for n in tqdm(teams_list):
#     print('\n',n)
    mask = df.home_team == n
    team_index = df[mask].index.values
    cont = 1
    for m in team_index[1:]:
#         print('m:',m)
        last_score = df.iloc[team_index[cont-1]].away_team_score
#         print('last_score:',last_score)
        conceded_score_history = df.iloc[team_index[cont-1]].conceded_score_history
#         print('conceded_score_history:',conceded_score_history)
        new_csc = last_score + conceded_score_history
#         print('new_csc:',new_csc)
        df.at[team_index[cont],'conceded_score_history'] = new_csc
        cont+=1

100%|██████████| 31/31 [00:01<00:00, 24.12it/s]

In [16]:
df['conceded_score_history'] = 0

In [17]:
df.iloc[65].conceded_score_history

0

In [18]:
team_index

array([ 14,  25,  48,  67,  87, 105, 119, 147, 167, 168, 207, 220, 240,
       268, 288, 309, 324, 359, 376])

In [19]:
df.conceded_score_history.value_counts()

0    2271
Name: conceded_score_history, dtype: int64

In [20]:
df.iloc[team_index][['home_team', 'home_team_score', 'away_team_score', 'home_score_history', 'conceded_score_history']]

,home_team,home_team_score,away_team_score,home_score_history,conceded_score_history
14,Bahia,0,0,417,0
25,Atlético MG,0,0,417,0
48,Portuguesa,2,1,417,0
67,Vitória,3,2,419,0
87,Cruzeiro,4,1,422,0
105,Vasco,2,3,426,0
119,Cruzeiro,0,0,428,0
147,Santos,2,0,428,0
167,Náutico,0,1,430,0
168,Atlético PR,2,1,430,0
207,Vitória,2,1,432,0
220,Corinthians,0,0,434,0
240,Ponte Preta,1,2,434,0
268,Portuguesa,1,2,435,0
288,Vasco,0,2,436,0
309,Coritiba,4,0,436,0
324,Atlético PR,3,0,440,0
359,São Paulo,1,1,443,0
376,Internacional,0,0,444,0

In [21]:
df.to_csv('soccerDB5.csv')